* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  height: 100px;
  background-color: #eee;
  border-bottom: 1px solid #d7d6d6;
  animation: headerFadIn 0.8s;
}

@keyframes headerFadIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

header .contnet {
  max-width: 1400px;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

header .contnet img {
  height: 40px;
}

header .menu {
  display: flex;
  gap: 28px;
}

header .menu a {
  font-size: 18px;
  color: #202142;
  cursor: pointer;
  transition: 0.3s;
}

header .menu a:hover {
  opacity: 0.6;
}
header .menu a:active {
  transform: scale(0.9);
}

header .actions {
  display: flex;
  gap: 16px;
  align-items: center;
}

header .actions .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  border: 1px solid #ddd;
}

header .actions .alert-btn {
  border: none;
  font-size: 24px;
  color: #202142;
  position: relative;
}

header .actions .alert-btn .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(218, 51, 182);
  border: 2px solid #eee;
  position: absolute;
  right: 4px;
  top: 4px;
}

header .actions .upload {
  border: none;
  font-size: 18px;
  color: #fff;
  background-color: #202142;
  border-radius: 12px;
  height: 46px;
  padding: 0 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  transition: 0.3s;
}

main {
  max-width: 1200px;
  margin: auto;
  display: flex;
  padding-top: 84px;
  padding-left: 16px;
  padding-right: 16px;
  animation: fadIn 1s;
}

@keyframes fadIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

main .sid-menu {
  width: 25%;
  border-right: 2px solid #eee;
  height: fit-content;
}

main .sid-menu h1 {
  margin-left: 16px;
}

main .sid-menu .menu-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 22px;
}

main .sid-menu .menu-list .menu-btn {
  border: none;
  background-color: transparent;
  border: 1px solid transparent;
  width: fit-content;
  height: 42px;
  border-radius: 24px;
  font-size: 18px;
  padding: 0 16px;
  color: #202142;
  opacity: 0.8;
}

main .sid-menu .menu-list .active-menu-item {
  background-color: #fcfcff;
  border: 1px solid #efefff;
  color: #202142;
}

/* main .sid-menu .menu-list button:hover {
  background-color: #fcfcff;
  border: 1px solid #efefff;
  color: #202142;
} */

/* main .sid-menu .menu-list button:active{
  background-color: #fcfcff;
  border: 1px solid #efefff;
  color: #202142;
  transform: scale(1.2);
} */

main .info {
  width: 75%;
  padding: 0 68px;
}

main .info h2 {
  margin-top: 68px;
}

.profile-info {
  margin-top: 16px;
  display: flex;
  gap: 22px;
  align-items: center;
}

.profile-info .avatar {
  width: 160px;
  height: 160px;
  background-color: #eee;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0px 5px 9px 0px #0000002e;
  animation: avatarAni 0.8s infinite;
}

@keyframes avatarAni {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(20deg);
  }

  60% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.profile-info .actions button {
  display: block;
  border: none;
  background-color: #fff;
  border: 1px solid #a4a4cb;
  font-size: 18px;
  height: 46px;
  border-radius: 8px;
  padding: 0 16px;
  width: 180px;
}
.profile-info .actions button.primary-btn {
  background-color: #202142;
  border: 1px solid #202142;
  color: #fff;
}

.info form {
  margin-top: 32px;
}

.info form .form-item {
  margin-bottom: 22px;
}

.info form .form-item input {
  border: none;
  height: 42px;
  border: 1px solid #a4a4cb;
  border-radius: 8px;
  padding: 0 16px;
  width: -webkit-fill-available;
  margin-top: 8px;
  font-size: 18px;
}

.info form .form-item textarea {
  border: none;
  border: 1px solid #a4a4cb;
  border-radius: 8px;
  padding: 16px;
  width: -webkit-fill-available;
  margin-top: 8px;
  font-size: 18px;
}

.info form .name-input {
  display: flex;
  gap: 22px;
  width: 100%;
}

.info form .name-input .form-item {
  flex: 1;
}

header .actions .bar-btn {
  display: none;
}

header .actions .upload:hover {
  opacity: 0.8;
}
header .actions .upload:active {
  transform: scale(0.9);
}

@media (max-width: 980px) {
  .contnet .menu {
    display: none;
  }

  header .actions .bar-btn {
    display: block;
  }

  header .actions .upload span {
    display: none;
  }

  main .sid-menu {
    width: -webkit-fill-available;
    border-right: none;
  }
  main .sid-menu .menu-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  main {
    flex-direction: column;
    padding-top: 24px;
  }

  .info form .name-input {
    flex-direction: column;
  }

  main .info {
    width: -webkit-fill-available;
    padding: 0 16px;
  }
  .profile-info .avatar {
    width: 100px;
    height: 100px;
  }
}
